*{
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.navContainer{
    background-color: #c2c2c2;
}

.navContainer ul{
    display: flex;
    flex-direction: row;
    
}
.navContainer ul li{
    padding: 0 10px;
    margin: 10px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
}

.navContainer ul li:hover{
    border-bottom: 3px solid hsl(0, 100%, 50%);
}

.navContainer ul .sale{
    color: red;
    font-weight: bold;
}

.navContainer ul .masVendido{
    font-style: italic;
    color: rgb(93, 64, 224);
    font-weight: bold;
}